<!DOCTYPE html>
<html>
	<head>
		<title>My First View!!</title>
	</head>
	<body>
		<h1>Hello World</h1>
		<p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
<form>
  <p>Your Name: <input type="text"></p>
  <p>Your Favorite Food: <input type="text"></p>
  <input type="submit">
</form>
	</body>
</html>