<!DOCTYPE html>
<html>
	<head>
		<title>Your Video Games:</title>
	</head>
	<body>
	  <ul>
		<% @videogames.each do |videogame%>
		<li><%videogame.title%></li>
		<% end %>
		</ul>
<form>
  <p>Your Name: <input type="text"></p>
  <p>Your Favorite Food: <input type="text"></p>
  <input type="submit">
</form>
	</body>
</html>